
$base-font-family: Arial, sans-serif;
$base-font-size: 16px !default;
$base-font-weight-regular: 400 !default;
$base-font-weight-bold: 700 !default;
$base-font-colour: map-get($base-colours, 'black');
$base-heading-colour: map-get($base-colours, 'dark-blue');