/*colour classes for changing the background colour of elements*/
.base-bg--black {
  background-color: map-get($base-colours, 'black') !important;
} 

.base-bg--dark-blue {
  background-color: map-get($base-colours, 'dark-blue') !important;
} 

.base-bg--purple {
  background-color: map-get($base-colours, 'purple') !important;
} 

.base-bg--blue { 
  background-color: map-get($base-colours, 'blue') !important;
} 

.base-bg--yellow {
  background-color: map-get($base-colours, 'yellow') !important;
} 

.base-bg--white { 
  background-color: map-get($base-colours, 'white') !important;
} 
