
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Slab&display=swap');

$base-font-family: 'Inter', Arial, sans-serif;
$base-heading-family: 'Roboto Slab', Arial, sans-serif;
$base-font-weight-regular: 400 !default; 
$base-font-weight-bold: 700 !default;
