/* colours variables for text */
$base-font-colour: map-get($base-colours, 'black');
$base-heading-colour: map-get($base-colours, 'blue');
$base-focus-colour: map-get($base-colours, 'yellow');
$base-link-colour: map-get($base-colours, 'blue');
$base-link-colour--hover: map-get($base-colours, 'dark-blue');
$base-link-colour--visited: map-get($base-colours, 'purple');


.base-heading-h1 {
  font-family: $base-heading-family;
  font-size: map-get($base-font-sizes, 'h1');
  line-height: $base-line-height;
  font-weight: $base-font-weight-bold;
  color: $base-heading-colour;
  margin-top: 0;
  margin-bottom:30px;
  display: block;
} 

.base-heading-h2 {
  font-family: $base-font-family;
  font-size: map-get($base-font-sizes, 'h2');
  line-height: $base-line-height;
  font-weight: $base-font-weight-bold;
  color: $base-heading-colour;
  margin-top: 0;
  margin-bottom:30px;
  display: block;
}

.base-heading-h3 {
  font-family: $base-font-family;
  font-size: map-get($base-font-sizes, 'h3');
  line-height: $base-line-height;
  font-weight: $base-font-weight-bold;
  color: $base-heading-colour;
  margin-top: 0;
  margin-bottom:20px;
  display: block;
}

.base-heading-h4 {
  font-family: $base-font-family;
  font-size: map-get($base-font-sizes, 'h4');
  line-height: $base-line-height;
  font-weight: $base-font-weight-bold;
  color: $base-heading-colour;
  margin-top: 0;
  margin-bottom:10px;
  display: block;
}

.base-body {
  font-family: $base-font-family;
  font-size: map-get($base-font-sizes, 'text');
  line-height: $base-line-height;
  font-weight: $base-font-weight-regular;
  color: $base-font-colour;
  margin-top: 0;
  margin-bottom:10px;
  display: block;
}

.base-body-bold {
  font-weight: $base-font-weight-bold;
}

.base-body-l {
  font-size: map-get($base-font-sizes, 'intro-text');
  line-height: $base-line-height;
}

.base-list {
  
  padding-left: 20px;
  font-family: $base-font-family;
  font-size: map-get($base-font-sizes, 'text');
  line-height: $base-line-height;
  font-weight: $base-font-weight-regular;
  color: $base-font-colour;
  display: block;
  margin-bottom:20px;
  li {
    margin-bottom:5px; 
  }
}

.base-list--number {
  list-style-type: decimal;
}

.base-list--bullet {
  list-style-type: disc; 
}

.base-link {
  cursor: pointer;
  text-decoration: underline; 
  &:link {
    color: $base-link-colour;
  }
  &:hover {
    color: $base-link-colour--hover;
  }
  &:visited {
    color: $base-link-colour--visited;
  }
  &:focus {
    outline: 3px solid transparent;
    color: $base-font-colour;
    background-color: $base-focus-colour;
    box-shadow: 0 -2px $base-focus-colour, 0 4px $base-font-colour; 
    text-decoration: none;
  }
}